body{
	margin: 30px;
	background-color: #00BFFF;
}

h1{
	font-family: serif;
}

p{
	font-family: sans-serif;
}

ul{
	font-family: sans-serif;
	list-style-type: none;
}

li span{
	font-size: 30px;
	font-style: normal;
}